<template>
    <div id="page-container">

        <!-- Main Container -->
        <main id="main-container">

            <!-- Page Content -->
            <div class="bg-image" style="background-image: url('assets/media/photos/photo19@2x.jpg');">
                <div class="hero bg-white-95">
                    <div class="hero-inner">
                        <div class="content content-full">
                            <div class="px-3 py-5 text-center">
                                <div class="row invisible" data-toggle="appear">
                                    <div class="col-sm-6 text-center text-sm-right">
                                        <div class="display-1 text-danger font-w700">404</div>
                                    </div>
                                    <div class="col-sm-6 text-center d-sm-flex align-items-sm-center">
                                        <div class="display-4 text-muted font-w300">Ошибка</div>
                                    </div>
                                </div>
                                <h1 class="h2 font-w700 mt-5 mb-3 invisible" data-toggle="appear" data-class="animated fadeInUp" data-timeout="300">Опс.. Такой страницы не существует..</h1>
                                <h2 class="h3 font-w400 text-muted mb-5 invisible" data-toggle="appear" data-class="animated fadeInUp" data-timeout="450">
                                    Что-то пошло не так и вы попали по ошибочной ссылке.
                                </h2>
                                <div class="invisible" data-toggle="appear" data-class="animated fadeInUp" data-timeout="600">
                                    <router-link class="btn btn-hero-secondary" to="/">
                                        <i class="fa fa-arrow-left mr-1"></i> Вернитесь на главную
                                    </router-link>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END Page Content -->

        </main>
        <!-- END Main Container -->
    </div>
    <!-- END Page Container -->
</template>

<script type="text/babel">
export default{
    mounted(){
    }
}
</script>