<template>
    <div>
        <app-header v-if="$root.user"></app-header>

        <router-view></router-view>
    </div>
</template>

<script>
import AppHeader from '@/components/layout/Header'

export default{
    name: 'Application',
    components:{
        AppHeader
    },
    data(){
        return {
        }
    },
    created(){
        this.getUser()
    },
    mounted(){
        this.$root.$on('permissions', p => {
            this.$root.user.permissions = p.data.permissions
        })
    },
    methods: {
        async getUser(){
            await axios.get('/app/user').then(r => {
                this.$root.user = r.data.user
            })
        }
    }
}
</script>