<template>
	<b-navbar centered>
		<template #brand>
			<b-navbar-item tag="router-link" :to="{ path: '/' }">
				<img
					src="/assets/images/site-logo.svg"
					alt="Панель управления элементами сайта Sobornost.ru"
					class="sbr-logo"
				>
			</b-navbar-item>
		</template>
		<template #start>
			<b-navbar-item tag="router-link" :to="{ path: '/s' }">
				Главная
			</b-navbar-item>
			<b-navbar-item tag="router-link" :to="{ path: '/s/downloads' }" v-if="has_access_to('downloads')">
				Лог загрузки
			</b-navbar-item>
			<b-navbar-item tag="router-link" :to="{ path: '/s/testimonials' }" v-if="has_access_to('testimonials')">
				Отзывы
			</b-navbar-item>
			<b-navbar-item tag="router-link" :to="{ path: '/s/sinodik' }" v-if="has_access_to('sinodiks')">
				Синодик
			</b-navbar-item>
			<b-navbar-dropdown label="Информация">
				<b-navbar-item tag="router-link" :to="{ path: '/s/docs' }">
					Документация
				</b-navbar-item>
				<b-navbar-item tag="router-link" :to="{ path: '/s/about' }">
					О системе
				</b-navbar-item>
			</b-navbar-dropdown>
            <b-navbar-item tag="router-link" :to="{ path: '/s/users' }" v-if="has_access_to('users')">
                Пользователи
            </b-navbar-item>
		</template>

		<template #end>
			<template v-if="$root.user">
				<b-navbar-item tag="div">
					{{ $root.user.name }}
				</b-navbar-item>
			</template>
			<b-navbar-item tag="div">
				<div class="buttons">
					<a class="button is-light" @click.stop="logout">
						Выйти
					</a>
				</div>
			</b-navbar-item>
		</template>
	</b-navbar>
</template>

<script>
export default{
	name: 'Header',
	methods: {
		async logout(){
			await axios.post('/logout').then(r => {
				location.href = '/s'
			})
		},
		has_access_to(section){
			if(
				this.$root.user.permissions_tree[section] == undefined ||
				this.$root.user.permissions_tree[section].view == undefined ||
				this.$root.user.permissions_tree[section].view == false
			){
				return false
			}

			return true
		}
	}
}
</script>

<style>
.sbr-logo{
	width: 100px;
	max-height: 200px !important;
	position: fixed;
	top: 10px;
	left: 10px;
}
.navbar-menu .exact-active{
	color: #7957d5 !important;
	border-bottom: 2px solid;
}
</style>