.site-logo{
    position: fixed;
    top: 50px;
    left: 10px;
}
.site-logo{
    text-align: center;
}

.logo-icon{
    width: 210px;
}

.sinodik-badge{
    display: block; width: 180px; margin-top: 150px
}

.key-points-list li{
    padding-left: 25px;
}
.key-points-list li .svg-inline--fa{
    margin-left: -25px;
}

.author-section .list-inline-item{
    background-color: #b16300 !important;
}

#description-section p{
}

.author-section .author-pic{
    border-radius: 50%;
}

.reviewModal p{
    text-indent: 30px;
}

.source-name{
    font-weight: 600;
}

.sinodik-badge{}
.sinodik-badge a{
    display: block; margin: 0 auto; padding: 17px 25px; background: #5cb377; border-radius: 62px; color: white; max-width: 150px;
}

@media (max-width: 1547px) {
    .navbar-brand{
        position: initial;
    }
    .logo-icon{
        width: 150px;
    }
}

@media (max-width: 1200px) {
    .logo-icon{
        width: 150px;
    }   
}

@media (max-width: 992px) {
    .logo-icon{
        width: 150px;
    }   
}

@media (max-width: 767px) {
    .site-logo{
        position: initial;
        top: auto;
        left: auto;
        margin-top: 80px;
    }
    .navbar-brand{
        position: initial;
    }

    .logo-icon{
        width: 150px;
    }

    .key-points,
    .key-points ul{
        margin-bottom: 0px !important;
    }

    .sinodik-badge{
        margin-top: 10px;
        width: 100%;
    }
    .sinodik-badge a{
        margin-top: 10px;
        max-width: 100%;
    }

    .social-list{
        clear: both;
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 575.98px){
    .form-inline .form-control {
        width: 300px;
    }
}

.deceased{
    background: black;
    color: white;
    font-size: 0.8rem;
    padding: 3px 10px;
    border-radius: 13px;
    display: inline-block;
    line-height: 16px;
}
.sinodik-photo{
    width: 100px;
    border-radius: 50%;
    border: 1px dashed;
}

@media (min-width: 564px) {
    .daterangepicker .ranges ul {
        width: 180px !important;
    }
}

.dropdown-toggle::after{
    vertical-align: .155em;
}

.dropdown-country .dropdown-item .fa-check{
    visibility: hidden;
}
.dropdown-country .dropdown-item.checked .fa-check{
    visibility: visible;
}

/* The ribbons */

.corner-ribbon{
  width: 250px;
  background: #e43;
  position: absolute;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  color: #f0f0f0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* Custom styles */

.corner-ribbon.sticky{
  position: fixed;
}

.corner-ribbon.shadow{
  box-shadow: 0 0 3px rgba(0,0,0,.3);
}

.corner-ribbon.bottom-left{
  top: auto;
  bottom: 25px;
  left: -50px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.corner-ribbon.top-right{
  top: 42px;
  right: -55px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/* Colors */

.corner-ribbon.white{background: #f0f0f0; color: #555;}
.corner-ribbon.black{background: #333;}
.corner-ribbon.grey{background: #999;}
.corner-ribbon.blue{background: #39d;}
.corner-ribbon.green{background: #2c7;}
.corner-ribbon.turquoise{background: #1b9;}
.corner-ribbon.purple{background: #95b;}
.corner-ribbon.red{background: #e43;}
.corner-ribbon.orange{background: #e82;}
.corner-ribbon.yellow{background: #ec0;}

#imagemodal .close {
    position: absolute;
    top: 0;
    right: -23px;
}