<template>
    <div class="section">
        <div class="container">

            <h1 class="title">Technical info</h1>

            <h3 class="title is-4">System</h3>
            <p class="mb-3">
                <b>OS:</b> Debian GNU/Linux 9.13 (stretch)<br>
                is a LXC container on host ProxMox installation<br>
                <b>Web server:</b> Nginx 1.18.0-2~stretch<br>
                <b>Database server:</b> mariadb-server 10.3.27+maria~stretch<br>
                <b>Interpreter:</b> PHP 7.4+79+0~20201210.30+debian9~1.gbpedaf15<br>
            </p>
            
            <h3 class="title is-4">Backend</h3>
            <p class="mb-3">
                <b>Framework:</b> Laravel 8.12<br>
                <b>Image manipulation:</b> intervention/image ^2.5<br>
                <b>Author maintanence:</b> sqits/laravel-userstamps ^0.0.9<br>
                <b>Morphology:</b> wapmorgan/morphos ^3.2<br>
                <b>Authentification:</b> laravel built-in<br>
                <b>Excel export:</b> laravel-excel ^3.1
                <b>RBAC:</b> spatie/laravel-permission ^4.0
            </p>

            <h3 class="title is-4">Public frontend</h3>
            <p class="mb-3">
                <b>Frontend framework:</b> bootstrap 4.4.1 + jQuery 3.4.1<br>
                <b>Frontend style:</b> modified DevBook v1.1 (Xiaoying Riley at 3rd Wave Media http://themes.3rdwavemedia.com/)<br>
            </p>

            <h3 class="title is-4">Admin frontend</h3>
            <p class="mb-3">
                <b>Frontend framework:</b> vue ^2.5.17 + vue-router ^3.4.9<br>
                <b>Frontend css framework:</b> Bulma using buefy ^0.9.4<br>
                <b>Datetime manipulation:</b> moment ^2.29.1<br>
                <b>Async requests:</b> axios ^0.21<br>
                <b>Helpers:</b> lodash ^4.17.19<br>
                <b>Charts:</b> vue-chartjs ^3.5.1<br>
                <b>Input mask:</b> vue-the-mask ^0.11.1<br>
                <b>Build system:</b> laravel-mix ^6.0.10<br>
                <b>Javascript runtime:</b> NodeJS 15.7.0<br>
                <b>Nodejs package manager:</b> npm 6.14.10<br>
            </p>

            <p>Public repo https://bitbucket.org/moroque/sobornost.ru/src/master/</p>

            <p>Regular build flow: git stash && git pull origin master && npm run prod</p>

            <p>System has been built and is maintained by Alexander Morozov. Any questions - a@moro.me</p>
        </div>
    </div>
</template>