<template>
    <div class="section">
        <div class="container">

            <h1 class="title">Документация и инструкции</h1>

            <p>
                Этот раздел содержит видео с инструкциями по работе с системой
            </p>

            <h4 class="title is-4 mt-4">Документация и инструкции</h4>

            <iframe width="560" height="315" src="https://www.youtube.com/embed/-LMW9WnejII" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            <h4 class="title is-4 mt-4">Раздел Лог загрузок</h4>

            <iframe width="560" height="315" src="https://www.youtube.com/embed/0AekBUv4n-8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            <h4 class="title is-4 mt-4">Раздел Отзывы</h4>

            <iframe width="560" height="315" src="https://www.youtube.com/embed/Vo3DBLWRJxg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            <h4 class="title is-4 mt-4">Раздел Синодик</h4>

            <iframe width="560" height="315" src="https://www.youtube.com/embed/vLGtoMvhark" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            <h4 class="title is-4 mt-4">Технические разделы</h4>

            <iframe width="560" height="315" src="https://www.youtube.com/embed/6_JRZcz9Pzo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            <h4 class="title is-4 mt-4">Раздел Пользователи</h4>

            <iframe width="560" height="315" src="https://www.youtube.com/embed/6CXCfMZZMdY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</template>