<template>
	<div class="modal-card" style="width: 960px;">
		<header class="modal-card-head">
			<p class="modal-card-title">География загрузок</p>
		</header>
		<section class="modal-card-body">
			<div class="columns">
				<div class="column is-two-thirds">
					<sinodik-chart :chartdata="countriesDownloadsDataset" :options="options"></sinodik-chart>	
				</div>
				<div class="column">
					<h5 class="title is-5">
						А также:
					</h5>
					<span v-for="country in countries_chart_data.to_list">
						{{ country.country || 'неизвестно' }} - {{ country.total }}<br>
					</span>
				</div>
			</div>
		</section>
		<footer class="modal-card-foot">
			<b-button
				label="Закрыть"
				@click="$parent.close()" />
		</footer>
	</div>
</template>

<script>
import SinodikChart from './SinodikChart'

export default{
	props: ['data', 'options'],
	components: {
		SinodikChart
	},
	computed: {
		countries_chart_data(){
			return {
				to_pie: _.filter(this.data, c => {
					return c.total >= 10
				}),
				to_list: _.filter(this.data, c => {
					return c.total < 10
				})
			}
		},
		countriesDownloadsDataset(){
			return {
				hoverBackgroundColor: "red",
				hoverBorderWidth: 10,
				labels: _.map(this.countries_chart_data.to_pie, 'country'),
				datasets: [
					{
						label: "По странам",
						backgroundColor: ["#003f5c","#2f4b7c","#665191","#a05195","#d45087","#f95d6a","#ff7c43","#ffa600"],
						data: _.map(this.countries_chart_data.to_pie, 'total')
					}
				]
			}
		},
	}
}
</script>