<template>
	<div class="section">
		<div class="container" v-if="$root.user_can('view', 'downloads')">

			<h1 class="title">Лог загрузок pdf-файла</h1>

			<p class="mb-3">
				Список дедуплицирован на 01.02.2021, время московское
			</p>
			<p class="mb-3">
				Всего: {{ total }}
			</p>

			<b-table
				:data="downloads.data"
				paginated
				:per-page="perPage"
				:current-page.sync="page"
				:pagination-simple="isPaginationSimple"
				:pagination-position="paginationPosition"
				:default-sort-direction="defaultSortDirection"
				:pagination-rounded="isPaginationRounded"
				:sort-icon="sortIcon"
				:sort-icon-size="sortIconSize"
				default-sort="created_at"
				aria-next-label="Следующая"
				aria-previous-label="Предыдущая"
				aria-page-label="Страница"
				aria-current-label="Текущая"
				backend-pagination
				:total="total"
				@page-change="onPageChange"
				backend-sorting
				@sort="onSort"
				:default-sort="[sortField, sortOrder]"
			>

				<b-table-column field="email" label="Email / Имя" sortable v-slot="props">
					<template v-if="props.row.email == 'direct_download'">
						Просто загрузка
					</template>
					<template v-else>
						<a :href="'mailto:'+props.row.email">
							{{ props.row.email }}
						</a>
						<small>
							{{ props.row.name }} {{ props.row.lastname }}
						</small>
					</template>
				</b-table-column>

				<b-table-column field="created_at" label="Дата и время" sortable v-slot="props">
					{{ $moment(props.row.created_at).format('LLL') }}
				</b-table-column>

				<b-table-column field="ip" label="IP" sortable centered v-slot="props">
					{{ props.row.geo.ip }}
				</b-table-column>

				<b-table-column field="country" label="Страна" sortable v-slot="props">
					<span>
						<img width="17" :src="props.row.geo.location.country_flag">
						{{ props.row.country }}
					</span>
				</b-table-column>

				<b-table-column field="region" sortable label="Регион" v-slot="props">
					{{ props.row.region }}
				</b-table-column>

				<b-table-column field="city" sortable label="Нас. пункт" v-slot="props">
                    <a :href="'https://yandex.ru/maps/?ll='+props.row.geo.longitude+'%2C'+props.row.geo.latitude+'&z=12'" target="_blank">
                        {{ props.row.city }}
                    </a>
				</b-table-column>

				<template slot="bottom-left">
					<b-select v-model="perPage" :disabled="!isPaginated" @input="loadAsyncData">
						<option value="5">5 на странице</option>
						<option value="10">10 на странице</option>
						<option value="15">15 на странице</option>
						<option value="20">20 на странице</option>
						<option value="50">50 на странице</option>
						<option value="100">100 на странице</option>
					</b-select>
				</template>
			</b-table>
		</div>
		<div class="container" v-else>
			<h1 class="title">Доступ запрещен</h1>
			<p>
				Этот раздел недоступен
			</p>
		</div>
	</div>
</template>

<script>
export default{
	name: 'DownloadsLog',
	title: 'Лог загрузок',
	data(){
		return {
			downloads: [],
			isPaginated: true,
			isPaginationSimple: false,
			isPaginationRounded: false,
			paginationPosition: 'bottom',
			defaultSortDirection: 'desc',
			sortIcon: 'arrow-up',
			sortIconSize: 'is-small',
			page: 1,
			perPage: 50,
			total: 0,
			loading: false,
			sortField: 'created_at',
			sortOrder: 'desc',
		}
	},
	mounted(){
		this.loadAsyncData()
	},
	methods:{
		async loadAsyncData(){
			await axios.post('/app/downloads', { sortField: this.sortField, sortOrder: this.sortOrder, page: this.page, per_page: this.perPage }).then(r => {
				this.downloads = r.data.downloads
				this.total = r.data.downloads.total
			})
		},
		onPageChange(page) {
			this.page = page
			this.loadAsyncData()
		},
		onSort(field, order) {
			this.sortField = field
			this.sortOrder = order
			this.loadAsyncData()
		},
	}
}
</script>
