<template>
	<div class="modal-card" style="width: auto">
		<header class="modal-card-head">
			<p class="modal-card-title" v-if="row.id">Редактирование строки №{{ row.id }}</p>
			<p class="modal-card-title" v-else>Добавление строки</p>
		</header>
		<section class="modal-card-body">

			<div class="notification is-info is-light" v-if="row.id">
				Поля родительного падежа заполняются автоматически. Если эти поля заполнены корректно, необходимости сохранять их нет. Если же там что-то неправильно - отредактируйте и сохраните запись.
			</div>
			<div class="notification is-info is-light" v-else>
				Возможность заполнения полей родительного падежа, а так же добавление фотографии, доступна после сохранения новой записи.
			</div>

			<div class="columns">
				<div class="column is-one-quarter text-center" v-if="row.id">
					<b-field>
						<b-upload v-model="local_photo" ref="photo_upload" class="file-label" drag-drop @input="handleFileUpload">
							<img :src="row_photo ? row_photo : '/assets/images/profile-empty-head.gif'" alt="Фотография" title="Фотография">
						</b-upload>
					</b-field>
					<template v-if="row_photo">
						<a href="javascript:;" @click.stop="$refs.photo_upload.$el.click()">
							Заменить фото
						</a>
						<a href="javascript:;" @click.stop="delete_photo">
							Удалить
						</a>
					</template>
					<template v-else>
						<a href="javascript:;" @click.stop="$refs.photo_upload.$el.click()">
							Загрузить фото
						</a>
					</template>
				</div>
				<div class="column">
					<b-field grouped>
						<b-field label="Сан" expanded>
							<b-input
								type="text"
								v-model="row.san">
							</b-input>
						</b-field>
						<b-field label="Имя" expanded>
							<b-input
								type="text"
								v-model="row.name">
							</b-input>
						</b-field>
						<b-field label="Фамилия" expanded>
							<b-input
								type="text"
								v-model="row.lastname">
							</b-input>
						</b-field>
					</b-field>

					<b-field grouped v-if="row.id">
						<b-field label="Сан (р.п.)" expanded>
							<b-input
								type="text"
								v-model="row.san_rp">
							</b-input>
						</b-field>
						<b-field label="Имя (р.п.)" expanded>
							<b-input
								type="text"
								v-model="row.name_rp">
							</b-input>
						</b-field>
						<b-field label="Фамилия (р.п.)" expanded>
							<b-input
								type="text"
								v-model="row.lastname_rp">
							</b-input>
						</b-field>
					</b-field>
				</div>
			</div>

			<b-field grouped>
				<b-field label="Возраст">
					<b-input
						type="text"
						v-model="row.age">
					</b-input>
				</b-field>
				<b-field label="Дата смерти">
					<b-input
						type="text"
						placeholder="ДД.ММ.ГГГГ"
						v-mask="'##.##.####'"
						v-model="row.deceased">
					</b-input>
				</b-field>
				<b-field label="Причина смерти" expanded>
					<b-input
						type="text"
						v-model="row.reason">
					</b-input>
				</b-field>
			</b-field>

			<b-field grouped>
				<b-field label="Страна" expanded>
					<b-input
						type="text"
						v-model="row.country">
					</b-input>
				</b-field>
				<b-field label="Епархия" expanded>
					<b-input
						type="text"
						v-model="row.e">
					</b-input>
				</b-field>
				<b-field label="Населенный пункт" expanded>
					<b-input
						type="text"
						v-model="row.town">
					</b-input>
				</b-field>
				<b-field label="Место служения" expanded>
					<b-input
						type="text"
						v-model="row.place">
					</b-input>
				</b-field>
			</b-field>

			<b-field grouped>
				<b-field label="Позиция" expanded>
					<b-input
						type="text"
						v-model="row.role">
					</b-input>
				</b-field>
				<b-field label="Комментарий" expanded>
					<b-input
						type="text"
						v-model="row.comment">
					</b-input>
				</b-field>
			</b-field>

			<b-field label="Внутренний комментарий">
				<b-input rows="5" type="textarea" v-model="row.inner_comment"></b-input>
			</b-field>

		</section>
		<footer class="modal-card-foot">
			<button class="button" type="button" @click="$parent.close()">Закрыть</button>
			<button class="button is-primary" @click="saveRow" v-if="$root.user_can('edit', 'sinodiks')">Сохранить</button>
			<button class="button is-danger" @click="deleteRow" style="margin-left: auto;" v-if="$root.user_can('delete', 'sinodiks')">Удалить</button>
		</footer>
	</div>
</template>

<script>
export default{
	props: {
		row: {
			type: Object
		}
	},
	data(){
		return {
			local_photo: [],
			row_photo: false
		}
	},
	mounted(){
		this.row_photo = this.row.photo
	},
	methods: {
		saveRow(){
			if(this.row.id){
				this.updateRow()
			} else {
				this.addRow()
			}
		},
		async addRow(){
			await axios.post(`/s/sinodik/add`, this.row ).then(r => {
				if(r.data.sinodik && r.data.sinodik.id){
					this.$root.$emit('row-added', r.data.row);
					this.$parent.close();
				} else {
					alert('Что-то пошло не так');
				}
			}).catch(r => {
				alert('Что-то пошло не так');
			});
		},
		async updateRow(){
			await axios.post(`/s/sinodik/${this.row.id}/update`, this.row ).then(r => {
				if(r.data.sinodik && r.data.sinodik.id){
					this.$root.$emit('row-updated', r.data.row);
					this.$parent.close();
				} else {
					alert('Что-то пошло не так');
				}
			}).catch(r => {
				alert('Что-то пошло не так');
			});
		},
		async deleteRow(row){
			await axios.delete(`/s/sinodik/${this.row.id}/delete`).then(r => {
				if(r.data.success){
					this.$root.$emit('row-deleted', this.row);
					this.$parent.close();
				} else {
					alert('Что-то пошло не так');
				}
			}).catch(r => {
				alert('Что-то пошло не так');
			});
		},
		handleFileUpload(e){
			if(!this.$root.user_can('edit', 'sinodiks')){
				return false
			}
			let formData = new FormData();
			formData.append('photo', this.local_photo);

			axios.post(`/s/sinodik/${this.row.id}/photo`, formData, { headers: { 'Content-Type': 'multipart/form-data' } }).then(r => {
				this.$root.$emit('photo-updated', { id: this.row.id, url: r.data });
				this.row_photo = r.data.main
			}).catch(r => {
				console.log('FAILURE!!');
			});
		},
		delete_photo(){
			axios.delete(`/s/sinodik/${this.row.id}/delete_photo`).then(r => {
				this.$root.$emit('photo-deleted', { id: this.row.id });
				this.row_photo = false
			})
		}
	}
}
</script>