<template>
	<div class="modal-card" style="width: auto">
		<header class="modal-card-head">
			<p class="modal-card-title" v-if="row.id">Редактирование отзыва №{{ row.id }}</p>
			<p class="modal-card-title" v-else>Добавление отзыва</p>
		</header>
		<section class="modal-card-body">
			<div class="columns">
				<div class="column is-one-quarter text-center" v-if="row.id">
					<b-field>
						<b-upload v-model="local_photo" class="file-label" drag-drop @input="handleFileUpload">
							<img :src="row_photo ? row_photo : '/assets/images/profile-empty-head.gif'" alt="Фотография" title="Фотография">
						</b-upload>
					</b-field>
					<a href="javascript:;" @click.stop="delete_photo" v-if="row_photo">
						Удалить
					</a>
				</div>
				<div class="column">
					<b-field grouped>
						<b-field label="Имя автора" expanded>
							<b-input
								type="text"
								v-model="row.person">
							</b-input>
						</b-field>
						<b-field label="Представление автора" expanded>
							<b-input
								type="text"
								v-model="row.person_title">
							</b-input>
						</b-field>
					</b-field>
					<b-field grouped>
						<b-field label="Заголовок модального окна" expanded>
							<b-input
								type="text"
								v-model="row.title">
							</b-input>
						</b-field>
						<b-field label="Текст выноски" expanded>
							<b-input
								rows="3" type="textarea"
								v-model="row.excerpt">
							</b-input>
						</b-field>
					</b-field>

					<b-field label="Текст отзыва" expanded>
						<quill-editor
							style="min-height: 150px;"
							ref="myQuillEditor"
							v-model="row.text"
							:options="editorOption"
							@blur="onEditorBlur($event)"
							@focus="onEditorFocus($event)"
							@ready="onEditorReady($event)"
						/>
					</b-field>
				</div>
			</div>
		</section>
		<footer class="modal-card-foot">
			<button class="button" type="button" @click="$parent.close()">Закрыть</button>
			<button class="button is-primary" @click="saveRow" v-if="$root.user_can('edit', 'testimonials')">Сохранить</button>
			<button class="button is-danger" @click="deleteRow" style="margin-left: auto;" v-if="$root.user_can('delete', 'testimonials')">Удалить</button>
		</footer>
	</div>
</template>

<script>
import 'quill/dist/quill.core.css'
import 'quill/dist/quill.snow.css'
import 'quill/dist/quill.bubble.css'

import { quillEditor } from 'vue-quill-editor'

export default{
	props: {
		row: {
			type: Object
		}
	},
	data(){
		return {
			local_photo: [],
			row_photo: false,
			editorOption:{
				placeholder: 'Здесь текст'
			}
		}
	},
	components: {
		quillEditor
	},
	mounted(){
		this.row_photo = this.row.photo
	},
	methods: {
		saveRow(){
			if(this.row.id){
				this.updateRow()
			} else {
				this.addRow()
			}
		},
		async addRow(){
			await axios.post(`/s/testimonials/add`, this.row ).then(r => {
				if(r.data.testimonial && r.data.testimonial.id){
					this.$root.$emit('row-added', r.data.row);
					this.$parent.close();
				} else {
					alert('Что-то пошло не так');
				}
			}).catch(r => {
				alert('Что-то пошло не так');
			});
		},
		async updateRow(){
			await axios.post(`/s/testimonials/${this.row.id}/update`, this.row ).then(r => {
				if(r.data.testimonial && r.data.testimonial.id){
					this.$root.$emit('row-updated', r.data.row);
					this.$parent.close();
				} else {
					alert('Что-то пошло не так');
				}
			}).catch(r => {
				alert('Что-то пошло не так');
			});
		},
		async deleteRow(row){
			await axios.delete(`/s/testimonials/${this.row.id}/delete`).then(r => {
				if(r.data.success){
					this.$root.$emit('row-deleted', this.row);
					this.$parent.close();
				} else {
					alert('Что-то пошло не так');
				}
			}).catch(r => {
				alert('Что-то пошло не так');
			});
		},
		handleFileUpload(e){
			if(!this.$root.user_can('edit', 'sinodiks')){
				return false
			}
			
			let formData = new FormData();
			formData.append('photo', this.local_photo);

			axios.post(`/s/testimonials/${this.row.id}/photo`, formData, { headers: { 'Content-Type': 'multipart/form-data' } }).then(r => {
				this.$root.$emit('photo-updated', { id: this.row.id, url: r.data });
				this.row_photo = r.data.main
			}).catch(r => {
				console.log('FAILURE!!');
			});
		},
		delete_photo(){
			axios.delete(`/s/testimonials/${this.row.id}/delete_photo`).then(r => {
				this.$root.$emit('photo-deleted', { id: this.row.id });
				this.row_photo = false
			})
		},

      onEditorBlur(quill) {
        console.log('editor blur!', quill)
      },
      onEditorFocus(quill) {
        console.log('editor focus!', quill)
      },
      onEditorReady(quill) {
        console.log('editor ready!', quill)
      },
      onEditorChange({ quill, html, text }) {
        console.log('editor change!', quill, html, text)
        this.content = html
      }
	}
}
</script>