<template>
	<div class="modal-card" style="width: auto">
		<header class="modal-card-head">
			<p class="modal-card-title" v-if="row.id">Редактирование пользователя №{{ row.id }}</p>
			<p class="modal-card-title" v-else>Добавление пользователя</p>
		</header>
		<section class="modal-card-body">
			<div class="columns">
				<div class="column">
					<b-field grouped>
						<b-field label="Имя пользователя" expanded>
							<b-input
								type="text"
								v-model="row.name">
							</b-input>
						</b-field>
						<b-field label="Email пользователя" expanded>
							<b-input
								type="text"
								v-model="row.email">
							</b-input>
						</b-field>

						<b-field label="Пароль" expanded>
							<b-input
								type="text"
								v-model="row.password">
							</b-input>
						</b-field>
					</b-field>
				</div>
			</div>

			<div class="columns" v-for="permissions in permissions_chunked">
				<div class="column" v-for="permission, section in permissions">

					<permissions-checkboxes 
						ref="permissions" 
						:section="section" 
						:permission="permission" 
						:user_permissions="(row.permissions_tree ? row.permissions_tree[section] : {})"
					></permissions-checkboxes>

				</div>
			</div>
		</section>
		<footer class="modal-card-foot">
			<button class="button" type="button" @click="$parent.close()">Закрыть</button>
			<button class="button is-primary" @click="saveRow" v-if="$root.user_can('edit', 'users')">Сохранить</button>
			<button class="button is-danger" @click="deleteRow" style="margin-left: auto;" v-if="$root.user_can('delete', 'users')">Удалить</button>
		</footer>
	</div>
</template>

<script>
import PermissionsCheckboxes from './PermissionsChecboxes'

export default{
	props: {
		row: {
			type: Object
		},
		global_permissions: {
			type: Object
		}
	},
	data(){
		return {
			local_permissions: Object.assign({}, this.global_permissions)
		}
	},
	components: {
		PermissionsCheckboxes
	},
	mounted(){
	},
	computed:{
		permissions_chunked(){
			return _.chunkObj(this.local_permissions, 4)
		}
	},
	methods: {
		saveRow(){
			let permissions = [],
				permissions_refs = this.$refs.permissions

			_.each(permissions_refs, perm => {
				let section = perm.section
				_.each(perm.local_permission, (state, action) => {
					if(state === true){
						permissions.push(action+' '+section)
					}
				})
			})

			if(this.row.id){
				this.updateRow(permissions)
			} else {
				this.addRow(permissions)
			}
		},
		async addRow(permissions){
			await axios.post(`/s/users/add`, { user: this.row, permissions: permissions } ).then(r => {
				if(r.data.user && r.data.user.id){
					this.$root.$emit('row-added', r.data.user);
					this.$parent.close();
				} else {
					alert('Что-то пошло не так');
				}
			}).catch(r => {
				alert('Что-то пошло не так');
			});
		},
		async updateRow(permissions){
			await axios.post(`/s/users/${this.row.id}/update`, { user: this.row, permissions: permissions } ).then(r => {
				if(r.data.user && r.data.user.id){
					this.$root.$emit('row-updated', r.data.user);
					this.$parent.close();
				} else {
					alert('Что-то пошло не так');
				}
			}).catch(r => {
				alert('Что-то пошло не так');
			});
		},
		async deleteRow(row){
			await axios.delete(`/s/users/${this.row.id}/delete`).then(r => {
				if(r.data.success){
					this.$root.$emit('row-deleted', this.row);
					this.$parent.close();
				} else {
					alert('Что-то пошло не так');
				}
			}).catch(r => {
				alert('Что-то пошло не так');
			});
		}
	}
}
</script>