<template>
	<section class="section">
		<div class="container">

			<div class="tile is-ancestor">
				<div class="tile is-4 is-vertical is-parent">
					<div class="tile is-child box" v-if="panel.downloads">
						<router-link to="/s/downloads" class="is-pulled-right py-1">Перейти к логу</router-link>
						<p class="title">Загрузки PDF</p>
						<div class="columns">
							<div class="column is-one-third">
								<h4 class="title is-4">
									Всего
								</h4>
								<h4 class="subtitle is-4 mb-6">
									{{ panel.downloads.total }}
								</h4>
							</div>
							<div class="column" v-if="panel.downloads.countries.length > 0">
								<div v-for="country in countries_download">
									{{ country.country }} - {{ country.total }}
								</div>
								<a href="javascript:;" @click.stop="isComponentModalActive = true">
									{{ countries_download_least }}
								</a>
							</div>
						</div>
					</div>
					<div class="tile is-child box" v-if="panel.testimonials">
						<p class="title">Отзывы</p>
						<div class="columns">
							<div class="column is-one-third">
								<h4 class="title is-4">
									Всего
								</h4>
								<h4 class="subtitle is-4 mb-6">
									{{ panel.testimonials.total }}
								</h4>
							</div>
							<div class="column">
								<h4 class="title is-4">
									Неопубликованных
								</h4>
								<h4 class="subtitle is-4 mb-6">
									{{ panel.testimonials.unpublished }}
								</h4>
							</div>
						</div>
						<router-link to="/s/testimonials" class="is-pulled-right">Перейти к отзывам</router-link>
					</div>
				</div>
				<div class="tile is-parent">
					<div class="tile is-child box">
						<router-link to="/s/sinodik" class="is-pulled-right py-1">Управление синодиком</router-link>
						<p class="title">Синодик</p>
						<template v-if="panel.sinodik">
							<div class="columns">
								<div class="column is-one-half">
									<sinodik-chart :chartdata="countriesSinodikDataset" :options="pie_options" style="widthL 100%; height: 100%;"></sinodik-chart>
								</div>
								<div class="column is-one-quater">
									<h5 class="title is-5">
										А также:
									</h5>
									<span v-for="country in countries_chart_data.to_list">
										{{ country.country }} - {{ country.total }}<br>
									</span>
								</div>
								<div class="column is-one-quater text-center">
									<h4 class="title is-4">
										Всего записей
									</h4>
									<h4 class="subtitle is-4 mb-6">
										{{ panel.sinodik.total }}
									</h4>

									<h5 class="title is-5">
										Неопубликованных
									</h5>
									<h4 class="subtitle is-4 mb-6">
										{{ panel.sinodik.unpublished }}
									</h4>

									<h5 class="title is-5">
										С комментарием
									</h5>
									<h4 class="subtitle is-4 mb-6">
										{{ panel.sinodik.commented }}
									</h4>

									<h5 class="title is-5">
										COVID
									</h5>
									<h4 class="subtitle is-4 mb-6">
										{{ panel.sinodik.covid_count }}
									</h4>

									<a href="/sinodik" target="_blank" class="is-pulled-right">
										Синодик
										<b-icon
										    icon="open-in-new"
										    size="is-small">
										</b-icon>
									</a><br>
									<a href="/sinodik/list" target="_blank" class="is-pulled-right">
										Поминальный лист
										<b-icon
										    icon="open-in-new"
										    size="is-small">
										</b-icon>
									</a>
								</div>
							</div>
						</template>
					</div>
				</div>
			</div>
		</div>

		<b-modal
		    v-model="isComponentModalActive"
		    has-modal-card
		    trap-focus
		    :destroy-on-hide="false"
		    aria-role="dialog"
		    aria-label="Example Modal"
		    aria-modal
		    width="960">
		    <template #default="props">
		    	<downloads-chart :data="panel.downloads.countries" :options="pie_options"></downloads-chart>
		    </template>
		</b-modal>

	</section>
</template>

<script>
import SinodikChart from './SinodikChart'
import DownloadsChart from './DownloadsChart'

export default{
	name: 'Panel',
	components: {
		SinodikChart, DownloadsChart
	},
	mounted(){
		this.loadStats()
	},
	computed: {
		countries_chart_data(){
			return {
				to_pie: _.filter(this.panel.sinodik.countries, c => {
					return c.total >= 5
				}),
				to_list: _.filter(this.panel.sinodik.countries, c => {
					return c.total < 5
				})
			}
		},
		countriesSinodikDataset(){
			return {
				hoverBackgroundColor: "red",
				hoverBorderWidth: 10,
				labels: _.map(this.countries_chart_data.to_pie, 'country'),
				datasets: [
					{
						label: "По странам",
						backgroundColor: ["#003f5c","#2f4b7c","#665191","#a05195","#d45087","#f95d6a","#ff7c43","#ffa600"],
						data: _.map(this.countries_chart_data.to_pie, 'total')
					}
				]
			}
		},
		countries_download(){
			return this.panel.downloads.countries.slice(0, this.splice_downloads_by)
		},
		countries_download_least(){
			let least = this.panel.downloads.countries.slice(this.splice_downloads_by),
				count = least.length,
				sum = _.sumBy(least, 'total')

			let d_str = 'загрузок'
			switch(sum-Math.floor(sum/10)*10){
				case 1:
					d_str = 'загрузка'
				case 2:
				case 3:
				case 4:
					d_str = 'загрузки'
			}

			let c_str = 'стран'
			switch(count-Math.floor(count/10)*10){
				case 1:
					d_str = 'страны'
			}

			return `и еще ${sum} ${d_str} из ${count} ${c_str}`

		}
	},
	data(){
		return {
			panel: {},
			pie_options: {
				maintainAspectRatio: false,
				aspectRatio: 1,
				legend: {
					display: true,
					position: 'bottom',
					labels: {
						boxWidth: 80,
						fontColor: 'black'
					}
				}
			},
			splice_downloads_by: 7,
			isComponentModalActive: false
		}
	},
	methods: {
		async loadStats(){
			await axios.get('/s/panel/stats').then(r => {
				this.panel = r.data
			})
		}
	}
}
</script>