<template>
	<div>
		<b-checkbox
			:indeterminate="not_all_checked"
			v-model="top_checkbox"
			type="is-info">
			<b>
				{{ $root.sections[section] }}
			</b>
		</b-checkbox>
		<br>

		<template v-for="t, perm in local_permission">
			<b-checkbox
				size="is-small"
				v-model="local_permission[perm]"
				:native-value="perm">
				{{ perm }}
			</b-checkbox>
			<br>
		</template>
		</div>
</template>

<script>
export default{
	name: 'PermissionsChecboxes',
	props: {
		section: {
			type: String
		},
		permission: {
			type: Object
		}, 
		user_permissions: {
			type: Object
		}
	},
	computed: {
	},
	data(){
		return {
			local_permission: null,
			top_checkbox: false,
			all_checked: false,
			not_all_checked: false
		}
	},
	mounted(){
		let perms = Object.assign({}, this.permission)

		_.each(perms, (action, index) => {
			if(this.user_permissions && this.user_permissions[index]){
				perms[index] = true
			} else {
				perms[index] = false
			}			
		})

		this.local_permission = perms

	},
	watch: {
		top_checkbox(newValue){
			if(!this.all_checked && newValue === true){
				this.checkAll(true)
			} else if(!this.not_all_checked && newValue === false) {
				this.checkAll(false)
			}
		},
		local_permission: {
			deep: true,
			handler(newValue, oldValue){
				// checkall checkbox state
				let unchecked_length = _.filter(this.local_permission, item => {
						return item == false
					}).length,
					perms = Object.keys(this.local_permission),
					perms_length = perms.length

				if(unchecked_length == 0){
					this.all_checked = true
					this.not_all_checked = false
					this.top_checkbox = true
				} else {
					if(unchecked_length == perms_length){
						this.all_checked = false
						this.not_all_checked = false
						this.top_checkbox = false
					} else {
						this.all_checked = false
						this.not_all_checked = true
						this.top_checkbox = false
					}
				}

				// view permission handler
				if(unchecked_length < perms_length){
					this.local_permission.view = true
				}
			}
		}
	},
	methods: {
		checkAll(check){
			_.each(this.local_permission, (perm, index) => {
				this.local_permission[index] = check
			})
		}
	}
}
</script>