<template>
	<div class="section">
		<div class="container is-fluid">

			<h1 class="title">Управление синодиком</h1>

			<div class="columns">
				<div class="column is-one-quater">
					<span class="my-2 mr-3" style="display: inline-block">
						Всего записей: {{ total }}
					</span>
					<b-button @click.stop="openRow(false)" type="is-primary" class="mr-3" v-if="$root.user_can('create', 'sinodiks')">Добавить запись</b-button>
					<b-button @click.stop="loadAsyncData" type="is-primary is-light" icon-left="refresh" class="mr-3"></b-button>
					<b-button @click.stop="downloadExcel" type="is-success is-light" icon-left="microsoft-excel" class="mr-3"></b-button>

					<a href="/sinodik" target="_blank">Синодик</a> | 
					<a href="/sinodik/list" target="_blank">Поминальный лист</a>
				</div>
				<div class="column has-text-right">
					<b-checkbox v-model="global_filters"
					    native-value="only_unpublished"
					    @input="loadAsyncData">
					    Только неопубликованные
					</b-checkbox>
					<b-checkbox v-model="global_filters"
					    native-value="only_own"
					    @input="loadAsyncData">
					    Только мои записи
					</b-checkbox>
					<b-checkbox v-model="global_filters"
					    native-value="only_commented"
					    @input="loadAsyncData">
					    Только с комментарием
					</b-checkbox>
					<b-checkbox v-model="global_filters"
					    native-value="last_day"
					    @input="loadAsyncData">
					    За последние 24 часа
					</b-checkbox>
				</div>
			</div>

			<b-table 
				:data="sinodiks.data" 
				:sticky-header="true" 
				height="100%" 
				@dblclick="openRow"
				:paginated="isPaginated"
				:per-page="perPage"
				:current-page.sync="page"
				:pagination-position="paginationPosition"
				:default-sort-direction="defaultSortDirection"
				backend-pagination
				:total="total"
				@page-change="onPageChange"
				backend-sorting
				@sort="onSort"
				:default-sort="[sortField, sortOrder]"
				ref="main_table"
				>
				<template v-for="column in columns">
					<b-table-column :key="column.id" v-bind="column">
						<template
							v-if="column.searchable && !column.numeric"
							slot="searchable"
							slot-scope="props">
								<b-input
									v-model="props.filters[props.column.field]"
									placeholder="Поиск..."
									icon="magnify"
									size="is-small"
									@input="loadAsyncData" />
						</template>
						<template v-slot="props">
							<template v-if="column.field == 'id'">
								<b-button 
									size="is-small" 
									:label="''+props.row[column.field]" 
									type="is-warning" 
									icon-left="pencil" 
									@click.stop="openRow(props.row)" 
									class="is-pulled-left mr-2" />

								<b-button 
									size="is-small" 
									label="" 
									type="is-success" 
									icon-left="check-bold" 
									@click.stop="switchPublished(props.row)" 
									class="is-pulled-left" 
									v-if="props.row.published && $root.user_can('unpublish', 'sinodiks')" />
								<b-button 
									size="is-small" 
									label="" 
									type="is-success is-light" 
									icon-left="check-bold" 
									@click.stop="switchPublished(props.row)"
									class="is-pulled-left" 
									v-else-if="$root.user_can('publish', 'sinodiks')" />
							</template>
							<template v-else-if="column.field == 'san'">
								{{ props.row.san }}
								<small style="display: block;">
									{{ props.row.san_rp }}
								</small>
							</template>
							<template v-else-if="column.field == 'name'">
								{{ props.row[column.field] }}
								<small style="display: block;">
									{{ props.row.name_rp }}
								</small>
							</template>
							<template v-else-if="column.field == 'lastname'">
								{{ props.row[column.field] }}
								<small style="display: block;">
									{{ props.row.lastname_rp }}
								</small>
							</template>
							<template v-else>
								{{ props.row[column.field] }}
							</template>
						</template>
					</b-table-column>
				</template>
				<template slot="bottom-left">
					<b-select v-model="perPage" :disabled="!isPaginated" @input="loadAsyncData">
						<option value="5">5 на странице</option>
						<option value="10">10 на странице</option>
						<option value="15">15 на странице</option>
						<option value="20">20 на странице</option>
						<option value="50">50 на странице</option>
						<option value="100">100 на странице</option>
					</b-select>
				</template>
			</b-table>

		</div>

		<b-modal 
			v-model="isComponentModalActive"
			@close="clearRow"
			has-modal-card
			full-screen 
			:can-cancel="false">
			<modal-form-sinodik :row="formProps"></modal-form-sinodik>
		</b-modal>
	</div>
</template>

<script>
import ModalFormSinodik from '@/components/ModalFormSinodik'

var columnsSetup = [
	{ field: 'id', label: '#', width: '130', numeric: true, searchable: true, sticky: true, headerClass: "is-sticky-column-one", cellClass: "is-sticky-column-one" },
	{ field: 'san', label: 'Обращение', width: '100', numeric: false, searchable: true, sticky: true, sortable: true },
	{ field: 'name', label: 'Имя', width: '100', numeric: false, searchable: true, sticky: true },
	{ field: 'lastname', label: 'Фамилия', width: '100', numeric: false, searchable: true, sticky: true },
	{ field: 'age', label: 'Возраст', width: '100', numeric: false, searchable: true },
	{ field: 'deceased', label: 'Дата смерти', width: '120', numeric: false },
	{ field: 'reason', label: 'Причина смерти', width: '100', numeric: false, searchable: true },
	{ field: 'country', label: 'Страна', width: '100', numeric: false, searchable: true },
	{ field: 'e', label: 'Епархия', width: '100', numeric: false, searchable: true },
	{ field: 'town', label: 'Город', width: '100', numeric: false, searchable: true },
	{ field: 'place', label: 'Место служения', width: '100', numeric: false, searchable: true },
	{ field: 'role', label: 'Позиция', width: '100', numeric: false, searchable: true },
];

export default{
	name: 'Sinodik',
	title: 'Синодик',
	components: { ModalFormSinodik },
	data(){
		return {
			isComponentModalActive: false,
			formProps: {},
			sinodiks: [],
			columns: columnsSetup,
			isPaginated: true,
			paginationPosition: 'bottom',
			defaultSortDirection: 'desc',
			sortIcon: 'arrow-up',
			sortIconSize: 'is-small',
			page: 1,
			perPage: 50,
			total: 0,
			loading: false,
			sortField: 'created_at',
			sortOrder: 'desc',
			global_filters: []
		}
	},
	mounted(){
		this.loadAsyncData()

		this.$root.$on('row-added', row => {
			this.loadAsyncData()
		})

		this.$root.$on('row-updated', row => {
			this.formProps = {}
			let index = _.findIndex(this.sinodiks.data, s => {
				return s.id == row.id
			})
			if(index > -1){
				this.sinodiks.data.splice(index, 1, row)
			} else {
				row.id = this.sinodiks.data.length+1;
				this.sinodiks.data.push(row);
			}
		});

		this.$root.$on('photo-updated', row => {
			let index = _.findIndex(this.sinodiks.data, s => {
				return s.id == row.id
			})

			if(index > -1){
				let replace = Object.assign({}, this.sinodiks.data[index])
				replace.photo = row.url.main
				replace.photo_preview = row.url.preview

				this.sinodiks.data.splice(index, 1, replace)
			}
		})

		this.$root.$on('photo-deleted', row => {
			let index = _.findIndex(this.sinodiks.data, s => {
				return s.id == row.id
			})

			if(index > -1){
				let replace = Object.assign({}, this.sinodiks.data[index])
				replace.photo = null
				replace.photo_preview = null

				this.sinodiks.data.splice(index, 1, replace)
			}
		})

		this.$root.$on('row-deleted', row => {
			this.formProps = {}
			this.loadAsyncData()
		});
	},
	methods: {
		async loadAsyncData(){
			await axios.post('/app/sinodiks', { 
					sortField: this.sortField, 
					sortOrder: this.sortOrder, 
					page: this.page, 
					per_page: this.perPage, 
					filters: this.$refs.main_table.filters,
					global_filters: this.global_filters
				}).then(r => {
					this.sinodiks = r.data.sinodiks
					this.total = r.data.sinodiks.total
				})
		},
		openRow(row){
			this.isComponentModalActive = true

			if(row){
				this.formProps = row
			} else {

			}
		},
		clearRow(){
			this.formProps = {}
		},
		async switchPublished(row){
			await axios.post(`/s/sinodik/${row.id}/update`, { published: !row.published }).then(r => {
				if(r.data.sinodik && r.data.sinodik.id){
					let index = _.findIndex(this.sinodiks.data, s => {
						return s.id == row.id
					})

					if(index > -1){
						//this.sinodiks.data[index].published = !row.published
						this.sinodiks.data.splice(index, 1, r.data.sinodik)
					}
				}
			})
		},
		onPageChange(page) {
			this.page = page
			this.loadAsyncData()
		},
		onSort(field, order) {
			this.sortField = field
			this.sortOrder = order
			this.loadAsyncData()
		},
		downloadExcel(){
/*			axios.get('/s/sinodik/export').then(r => {
//				let blob = new Blob([r.data], { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' }),
//					url = window.URL.createObjectURL(blob)

				let blob = new Blob([r.data], { type: r.headers['content-type'] })
				let link = document.createElement('a')
				link.href = window.URL.createObjectURL(blob)
				link.download = 'Sinodik.xlsx'
				link.click()

				window.open(url)
			})*/
			window.open('/s/sinodik/export')
		}
	},
}
</script>