<template>
	<div class="section">
		<div class="container is-fluid" v-if="$root.user_can('view', 'testimonials')">

			<h1 class="title">Управление отзывами</h1>

			<div class="columns">
				<div class="column is-one-quater">
					<span class="my-2 mr-3" style="display: inline-block">
						Всего отзывов: {{ total }}
					</span>
					<b-button @click.stop="openRow(false)" type="is-primary" class="mr-3" v-if="$root.user_can('create', 'testimonials')">Добавить отзыв</b-button>
					<b-button @click.stop="loadAsyncData" type="is-primary is-light" icon-left="refresh" class="mr-3"></b-button>
				</div>
				<div class="column has-text-right">
					<b-checkbox v-model="global_filters"
						native-value="only_unpublished"
						@input="loadAsyncData">
						Только неопубликованные
					</b-checkbox>
				</div>
			</div>

			<section>
				<div class="columns" v-for="chunk in testimonials_chunked">
					<div class="column is-half" v-for="t in chunk">
						<div class="card mb-4">
							<div class="card-content">
								<div class="media">
									<div class="media-left">
										<figure class="image is-48x48">
											<img :src="( t.photo_preview ? t.photo_preview : 'https://bulma.io/images/placeholders/96x96.png')" alt="">
										</figure>
									</div>
									<div class="media-content">
										<b-button
											size="is-small"
											icon-left="pencil"
											type="is-warning"
											class="is-pulled-right"
											@click.stop="openRow(t)"
										></b-button>

										<b-button 
											size="is-small" 
											label="" 
											type="is-success" 
											icon-left="check-bold" 
											@click.stop="switchPublished(t)" 
											class="is-pulled-right mr-2" 
											v-if="t.published && $root.user_can('unpublish', 'testimonials')" />
										<b-button 
											size="is-small" 
											label="" 
											type="is-success is-light" 
											icon-left="check-bold" 
											@click.stop="switchPublished(t)" 
											class="is-pulled-right mr-2" 
											v-else-if="$root.user_can('publish', 'testimonials')" />

										<p class="title is-4">
											{{ t.person }}
										</p>
										<p class="subtitle is-6">
											{{ t.person_title }}
										</p>
									</div>
								</div>

								<div class="content">
									<h6 class="title is-6">
										{{ t.title }}	
									</h6>
									{{ t.excerpt }}
								</div>
							</div>
						</div>
					</div>
				</div>

			</section>
		</div>
		<div class="container" v-else>
			<h1 class="title">Доступ запрещен</h1>
			<p>
				Этот раздел недоступен
			</p>
		</div>

		<b-modal 
			v-model="isComponentModalActive"
			@close="clearRow"
			has-modal-card
			full-screen 
			:can-cancel="false">
			<modal-form-testimonials :row="formProps"></modal-form-testimonials>
		</b-modal>
	</div>
</template>

<script>
import ModalFormTestimonials from '@/components/ModalFormTestimonials'

export default{
	name: 'Testimonials',
	title: 'Управление отзывами',
	components: {
		ModalFormTestimonials
	},
	mounted(){
		this.loadAsyncData()

		this.$root.$on('row-added', row => {
			this.loadAsyncData()
		})

		this.$root.$on('row-updated', row => {
			this.formProps = {}
			let index = _.findIndex(this.testimonials, s => {
				return s.id == row.id
			})
			if(index > -1){
				this.testimonials.splice(index, 1, row)
			} else {
				row.id = this.testimonials.length+1;
				this.testimonials.push(row);
			}
		});

		this.$root.$on('photo-updated', row => {
			let index = _.findIndex(this.testimonials, s => {
				return s.id == row.id
			})

			if(index > -1){
				let replace = Object.assign({}, this.testimonials[index])
				replace.photo = row.url.main
				replace.photo_preview = row.url.preview

				this.testimonials.splice(index, 1, replace)
			}
		})

		this.$root.$on('photo-deleted', row => {
			let index = _.findIndex(this.testimonials, s => {
				return s.id == row.id
			})

			if(index > -1){
				let replace = Object.assign({}, this.testimonials[index])
				replace.photo = null
				replace.photo_preview = null

				this.testimonials.splice(index, 1, replace)
			}
		})

		this.$root.$on('row-deleted', row => {
			this.formProps = {}
			this.loadAsyncData()
		});
	},
	computed:{
		testimonials_chunked(){
			return _.chunk(this.testimonials, 2)
		}
	},
	data(){
		return {
			global_filters: [],
			testimonials: [],
			total: 0,
			isComponentModalActive: false,
			formProps: {}
		}
	},
	methods: {
		async loadAsyncData(){
			await axios.post('/app/testimonials', { 
					global_filters: this.global_filters
				}).then(r => {
					this.testimonials = r.data.testimonials
					this.total = r.data.testimonials.length
				})
		},
		openRow(row){
			this.isComponentModalActive = true

			if(row){
				this.formProps = row
			} else {

			}
		},
		clearRow(){
			this.formProps = {}
		},
		async switchPublished(row){
			await axios.post(`/s/testimonials/${row.id}/update`, { published: !row.published }).then(r => {
				if(r.data.testimonial && r.data.testimonial.id){
					let index = _.findIndex(this.testimonials, s => {
						return s.id == row.id
					})

					if(index > -1){
						//this.sinodiks.data[index].published = !row.published
						this.testimonials.splice(index, 1, r.data.testimonial)
					}
				}
			})
		},
	}
}
</script>