<template>
	<div class="section">
		<div class="container">

			<h1 class="title">Управление пользователями</h1>

			<div class="columns">
				<div class="column is-one-quater">
					<span class="my-2 mr-3" style="display: inline-block">
						Всего пользователей: {{ total }}
					</span>
					<b-button @click.stop="openRow(false)" type="is-primary" class="mr-3" v-if="$root.user_can('create', 'users')">Добавить пользователя</b-button>
					<b-button @click.stop="loadAsyncData" type="is-primary is-light" icon-left="refresh" class="mr-3"></b-button>
				</div>
			</div>

			<b-table 
				:data="users" 
				:sticky-header="true" 
				height="100%" 
				@dblclick="openRow"
				:paginated="isPaginated"
				:per-page="perPage"
				:current-page.sync="page"
				:pagination-position="paginationPosition"
				:default-sort-direction="defaultSortDirection"
				backend-pagination
				:total="total"
				@page-change="onPageChange"
				backend-sorting
				@sort="onSort"
				:default-sort="[sortField, sortOrder]"
				ref="main_table"
				>
				<template v-for="column in columns">
					<b-table-column :key="column.id" v-bind="column">
						<template
							v-if="column.searchable && !column.numeric"
							slot="searchable"
							slot-scope="props">
								<b-input
									v-model="props.filters[props.column.field]"
									placeholder="Поиск..."
									icon="magnify"
									size="is-small"
									@input="loadAsyncData" />
						</template>
						<template v-slot="props">
							<template v-if="column.field == 'id'">
								<b-button size="is-small" :label="''+props.row[column.field]" type="is-warning" icon-left="pencil" @click.stop="openRow(props.row)" class="is-pulled-left mr-2" />
								
							</template>
							<template v-else-if="column.field == 'name'">
								{{ props.row[column.field] }}
							</template>
							<template v-else-if="column.field == 'email'">
								{{ props.row[column.field] }}
							</template>
							<template v-else-if="column.field == 'permissions'">
								<template v-for="permissions, section in props.row.permissions_tree">
									<div class="columns mb-0">
										<div class="column is-one-third has-text-right">
											{{ $root.sections[section] }}:
										</div>
										<div class="column">
											<b-icon
												icon="eye-outline"
												class="mr-2"
												title="Просмотр"
												v-if="props.row.permissions_tree[section].view">
											</b-icon>
											<b-icon
												icon="plus"
												class="mr-2"
												title="Создание"
												v-if="props.row.permissions_tree[section].create">
											</b-icon>
											<b-icon
												icon="pencil"
												class="mr-2"
												title="Изменение"
												v-if="props.row.permissions_tree[section].edit">
										    </b-icon>
											<b-icon
												icon="delete"
												class="mr-2"
												title="Удаление"
												v-if="props.row.permissions_tree[section].delete">
											</b-icon>
										</div>
									</div>
								</template>
							</template>
							<template v-else-if="column.field == 'email_verified_at'">
								<template v-if="props.row[column.field]">
									{{ $moment(props.row[column.field]).format('DD.MM.Y H:m') }}
								</template>
							</template>
							<template v-else-if="column.field == 'created_at'">
								{{ $moment(props.row[column.field]).format('DD.MM.Y H:m') }}
							</template>
							<template v-else>
								{{ props.row[column.field] }}
							</template>
						</template>
					</b-table-column>
				</template>
				<template slot="bottom-left">
					<b-select v-model="perPage" :disabled="!isPaginated" @input="loadAsyncData">
						<option value="5">5 на странице</option>
						<option value="10">10 на странице</option>
						<option value="15">15 на странице</option>
						<option value="20">20 на странице</option>
						<option value="50">50 на странице</option>
						<option value="100">100 на странице</option>
					</b-select>
				</template>
			</b-table>

		</div>

		<b-modal 
			v-model="isComponentModalActive"
			@close="clearRow"
			has-modal-card
			full-screen 
			:can-cancel="false">
			<modal-form-user :row="formProps" :global_permissions="global_permissions"></modal-form-user>
		</b-modal>
	</div>
</template>
<script>
import ModalFormUser from '@/components/ModalFormUser'

var columnsSetup = [
	{ field: 'id', label: '#', width: '100', numeric: true, searchable: true, sticky: true, headerClass: "is-sticky-column-one", cellClass: "is-sticky-column-one" },
	{ field: 'name', label: 'Имя', width: '200', numeric: false, searchable: true, sticky: true, sortable: true },
	{ field: 'email', label: 'Email', width: '200', numeric: false, searchable: true },
	{ field: 'permissions', label: 'Разрешения', width: '300', numeric: false, searchable: false },
	{ field: 'created_at', label: 'Дата создания', width: '100', numeric: false, searchable: true }
];

export default{
	name: 'Users',
	title: 'Пользователи',
	components: { ModalFormUser },
	data(){
		return {
			isComponentModalActive: false,
			formProps: {},
			users: [],
			columns: columnsSetup,
			isPaginated: true,
			paginationPosition: 'bottom',
			defaultSortDirection: 'desc',
			sortIcon: 'arrow-up',
			sortIconSize: 'is-small',
			page: 1,
			perPage: 50,
			total: 0,
			loading: false,
			sortField: 'created_at',
			sortOrder: 'desc',
			global_filters: [],
			global_permissions: {}
		}
	},
	mounted(){
		this.loadAsyncData()

		this.$root.$on('row-added', row => {
			this.loadAsyncData()
		})

		this.$root.$on('row-updated', row => {
			this.formProps = {}
			let index = _.findIndex(this.users, s => {
				return s.id == row.id
			})
			if(index > -1){
				this.users.splice(index, 1, row)
			} else {
				row.id = this.users.length+1;
				this.users.push(row);
			}
		});

		this.$root.$on('photo-updated', row => {
			let index = _.findIndex(this.users, s => {
				return s.id == row.id
			})

			if(index > -1){
				let replace = Object.assign({}, this.users[index])
				replace.photo = row.url.main
				replace.photo_preview = row.url.preview

				this.users.splice(index, 1, replace)
			}
		})

		this.$root.$on('row-deleted', row => {
			this.formProps = {}
			this.loadAsyncData()
		});
	},
	methods: {
		async loadAsyncData(){
			await axios.post('/app/users', { 
					sortField: this.sortField, 
					sortOrder: this.sortOrder, 
					page: this.page, 
					per_page: this.perPage, 
					filters: this.$refs.main_table.filters,
					global_filters: this.global_filters
				}).then(r => {
					if(r.data.users){
						this.users = r.data.users
						this.total = r.data.users.length
						this.global_permissions = r.data.permissions
					}
				})
		},
		openRow(row){
			this.isComponentModalActive = true

			if(row){
				this.formProps = row
			} else {

			}
		},
		clearRow(){
			this.formProps = {}
		},
		async switchPublished(row){
			await axios.post(`/s/users/${row.id}/update`, { published: !row.published }).then(r => {
				if(r.data.user && r.data.user.id){
					let index = _.findIndex(this.users, s => {
						return s.id == row.id
					})

					if(index > -1){
						//this.users[index].published = !row.published
						this.users.splice(index, 1, r.data.user)
					}
				}
			})
		},
		onPageChange(page) {
			this.page = page
			this.loadAsyncData()
		},
		onSort(field, order) {
			this.sortField = field
			this.sortOrder = order
			this.loadAsyncData()
		},
	},
}
</script>